html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}


/* Home page style */

.home {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.home-title {
  font-size: 42px;
  margin-bottom: 10px;
}

.home-subtitle {
  font-size: 18px;
  color: #888;
  margin-bottom: 30px;
}